# ignore custom hosts file
hosts.txt

# Rust build artifacts
target/
**/target/

# build output / binaries
/leveldb/
/pvm/*.out
cmd/jamweb/jamweb
cmd/codec-web/codec-web

# node directories & artifacts
node/data/
node/logs/
node/*.pprof
node/*.test
node/refine_testvector
node/*.txt
node/guarantees/*.json

# coverage
coverage.out

# IDE settings
.vscode/

# importblocks inputs / artifacts
cmd/importblocks/data/
cmd/importblocks/rawdata/
cmd/importblocks/fuzzer
cmd/importblocks/**/*.json
cmd/importblocks/**/*.bin
cmd/importblocks/data.zip
cmd/importblocks/fuzzed.zip
cmd/importblocks/core.zip

# FFI static libs  
ffi/libcrypto.*.a


# state DB test data
/statedb/testdata/
/statedb/test_case/
/statedb/compiler/
/statedb/sandbox/
/statedb/interpreter/
/statedb/test/
/statedb/pvmx*

/statedb/*.out
/statedb/*.test
# service guarantees JSON
guarantees/*.json

# general logs
**/*.log


# macOS metadata
**/.DS_Store
.DS_Store

jam
bin/jam
bin/*
!bin/jam*
bin/jamduna
/bin
/release
pvm/test/*
node/interpreter/*
node/compiler/*
node/sandbox/*
node/test/*_compiler_*.json
/node/test
/cmd/importblocks/fuzzed
conf/*
java*.jar
libjava*.dylib
assets/zcash-srs-2-11-uncompressed.bin
/cmd/duna_fuzzer/rawdata
/cmd/duna_bench/duna_bench_*
/cmd/duna_replay/duna_replay_*
/cmd/duna_bench/duna_targeth_*
/cmd/duna_bench/reports
/reports
duna_target
/duna_fuzzer
duna_bench

# Allow refine test data to be committed
!cmd/duna_fuzzer/refine/
!cmd/duna_fuzzer/refine/*
# But exclude .DS_Store files from refine directory
cmd/duna_fuzzer/refine/.DS_Store
/cmd/duna_fuzzer/refine_algo
/cmd/duna_fuzzer/refine_fib
/fuzz/v1

/stf
/.gocache
node/service_*.pvm
