# ignore custom hosts file
hosts.txt
*/target/*
# build output / binaries
/leveldb/
/pvm/*.out
cmd/jamweb/jamweb
cmd/codec-web/codec-web
*/target

# node directories & artifacts
node/data/
node/logs/
node/*.pprof
node/*.test
node/refine_testvector
node/*.txt
node/guarantees/*.json

# coverage
coverage.out

# IDE settings
.vscode/

# importblocks inputs / artifacts
cmd/importblocks/data/
cmd/importblocks/rawdata/
cmd/importblocks/fuzzer
cmd/importblocks/**/*.json
cmd/importblocks/**/*.bin
cmd/importblocks/data.zip
cmd/importblocks/fuzzed.zip
cmd/importblocks/core.zip

# FFI static libs
ffi/libbls.a
ffi/libbandersnatch.a

# state DB test data
/statedb/testdata/
/statedb/test_case/
/statedb/recompiler/
/statedb/recompiler_sandbox/
/statedb/interpreter/
/statedb/test/
# service guarantees JSON
guarantees/*.json

# general logs
**/*.log


# macOS metadata
**/.DS_Store
bin/jam
bin/*
!bin/jam*
bin/jamduna
/bin
cmd/.DS_Store
/release
pvm/test/*
node/test/*
node/interpreter/*
node/recompiler/*
node/recompiler_sandbox/*
