[package]
name = "fib"
version = "0.1.0"
edition = "2021"
publish = false

[[bin]]
name = "fib"
path = "src/main.rs"

[dependencies]
polkavm-derive = { workspace = true }
simplealloc = { workspace = true }
utils = { path = "../utils" }
