name: Jam Runner main

env:
  GOFLAGS: "-tags=tiny"
  JAM_PATH: ${{ github.workspace }}
  LD_LIBRARY_PATH: ./bls/target/release:./bandersnatch/target/release
  CARGO_MANIFEST_DIR: ${{ github.workspace }}

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/runner.yml
      - statedb/*.go
      - pvm/*.go
      - statedb/*.go
      - node/*.go
  schedule:
    - cron: '0 */2 * * *'
      branches:
        - main

jobs:
  test:
    runs-on: jamops-16-core
    timeout-minutes: 120
    strategy:
      max-parallel: 2
    steps:
      - name: Checkout main code
        uses: actions/checkout@v3
        with: { ref: main }

#      - name: Setup Go
#        uses: actions/setup-go@v4
#        with:
#          go-version: 1.23

#      - name: Set up Rust
#        run: |
#          sudo apt update
#          sudo apt install -y curl build-essential
#          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y
#          source $HOME/.cargo/env

      - name: Set environment variables
        run: |
          echo "GOFLAGS=\"-tags=tiny\"" >> $GITHUB_ENV
          echo "JAM_PATH=${{ github.workspace }}" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=./bls/target/release: ./bandersnatch/target/release" >> $GITHUB_ENV
          echo "CARGO_MANIFEST_DIR=${{ github.workspace }}" >> $GITHUB_ENV

#      - name: Install dependencies
#        run: sudo apt update && sudo apt install -y build-essential

      - name: Clear Go module cache
        run: go clean -modcache

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install Go dependencies
        run: go mod tidy

      - name: Run make commands
        run: |
          make blslib
          make bandersnatchlib

      - name: Run test bls
        run: go test ./bls

      - name: Run test bandersnatch
        run: go test ./bandersnatch

      - name: Run test fib
        run: go test ./node -timeout 4m -v -run ^TestFib$ -tags network_test,tiny


      # if there is a failure in the following tests, the workflow will continue
      # if one of the tests fails, we will run the debug_eg_error target to get more information
      - name: Run test megatron (1/5)
        id: megatron_250
        run: go test ./node -timeout 115m -v -run ^TestMegatron$ -tags network_test,tiny || make -C ./node debug_eg_error
