name: Jam Runner main

env:
  GOFLAGS: "-tags=tiny"
  JAM_PATH: ${{ github.workspace }}
  LD_LIBRARY_PATH: ./bls/target/release:./bandersnatch/target/release
  CARGO_MANIFEST_DIR: ${{ github.workspace }}

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/runner.yml
      - statedb/*.go
      - pvm/*.go
      - statedb/*.go
      - node/*.go
  schedule:
    - cron: '*/15 * * * *'
      branches:
        - main

jobs:
  test:
    runs-on: jamops-16-core
    timeout-minutes: 120
    strategy:
      max-parallel: 2
    steps:
      - name: Checkout main code
        uses: actions/checkout@v3
        with: { ref: main }

      - name: Set environment variables
        run: |
          echo "GOFLAGS=\"-tags=tiny\"" >> $GITHUB_ENV
          echo "JAM_PATH=${{ github.workspace }}" >> $GITHUB_ENV
          echo "LD_LIBRARY_PATH=./bls/target/release: ./bandersnatch/target/release" >> $GITHUB_ENV
          echo "CARGO_MANIFEST_DIR=${{ github.workspace }}" >> $GITHUB_ENV


      - name: Clear Go module cache
        run: go clean -modcache

      - name: Cache Go modules
        uses: actions/cache@v3
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Install Go dependencies
        run: go mod tidy

      - name: Run test fib
        run: go test ./node -timeout 4m -v -run '^TestFib$$' -tags "network_test" -targetN=5  -jce_manual=true -jam_node=true -jam_local_client=false

      - name: Run test megatron
        run: go test ./node -timeout 5m -v -run '^TestMegatron$$' -tags "network_test" -targetN=10  -jce_manual=true -jam_node=true -jam_local_client=false